#grid {
  height: 500px;
  width: 500px;
  border: 2px solid black;
  margin-left: 90px;
  background-color: white;
}

#palette {
  height: 440px;
  width: 80px;
  border: 1px solid black;
  position: absolute;
  top: 45px;
}

#picker {
  position: relative;
  top: -81px;
  height: 62px;
  width: 81px;
  border: 2px solid black;
  box-sizing: border-box;
}

h1, h4 {
  font-style: oblique;
  margin: auto;
  margin-left: 90px;
}

body {
  background-color: beige;
}
